<header class="main-header">

    <!-- Header Top -->
    <div class="header-top">
        <div class="auto-container">
            <div class="clearfix">

                <!--Top Left-->
                <div class="top-left">
                    <ul class="links clearfix">
                        <li><a href="tel:602 462 409"><span class="icon flaticon-technology-1"></span>602 462 409</a>
                        </li>
                        <li><a href="mailto:ggstawarz@gmail.com"><span class="icon flaticon-envelope-1"></span>kontakt@grzegorzstawarz.pl</a>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
    <!-- Header Top End -->

    <!-- Main Box -->
    <div class="main-box">
        <div class="auto-container">
            <div class="outer-container clearfix">
                <!--Logo Box-->
                <div class="logo-box">
                    <div class="logo"><a href="index.html"><img src="images/logo.png" alt=""></a></div>
                </div>

                <!--Btn Outer-->
                <div class="btn-outer">
                    <a href="https://grzegorzstawarz.nakiedy.pl" class="theme-btn btn-style-one">Zarezerwuj wizytę</a>
                </div>

                <!--Nav Outer-->
                <div class="nav-outer clearfix">
                    <!-- Main Menu -->
                    <nav class="main-menu">
                        <div class="navbar-header">
                            <!-- Toggle Button -->
                            <button type="button" class="navbar-toggle" data-toggle="collapse"
                                    data-target=".navbar-collapse">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>

                        <div class="navbar-collapse collapse clearfix">
                            <ul class="navigation clearfix">
                                <li class="dropdown">
                                    <a href="o-nas.html">O nas<div class="dropdown-btn"><i class="icon-plus"></i></div></a>
                                    <ul>
                                        <li><a id="grzegorz-stawarz-btn" href="o-nas.html#grzegorz-stawarz">Grzegorz Stawarz</a></li>
                                        <li><a id="anna-rzeszotko-btn" href="o-nas.html#anna-rzeszotko">Anna Rzeszótko</a></li>
                                        <li><a id="teresa-stawarz-btn" href="o-nas.html#teresa-stawarz">Teresa Stawarz</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a href="fizykoterapia.html">Fizykoterapia<div class="dropdown-btn"><i class="icon-plus"></i></div></a>
                                    <ul>
                                        <li><a id="laseroterapia-btn" href="fizykoterapia.html#laseroterapia">LASEROTERAPIA</a></li>
                                        <li><a id="magnetoterapia-btn" class="magnetoterapia-btn" href="fizykoterapia.html#magnetoterapia">MAGNETOTERAPIA</a></li>
                                        <li><a id="ultradzwieki-btn" href="fizykoterapia.html#ultradzwieki">ULTRADŹWIĘKI</a></li>
                                        <li class="dropdown">
                                            <a id="elektroterapia-btn" href="fizykoterapia.html#elektroterapia">ELEKTROTERAPIA</a>
                                            <ul>
                                                <li><a id="prady-interferencyjne-btn" href="fizykoterapia.html#prady-interferencyjne">Prądy interferencyjne</a></li>
                                                <li><a id="prady-diadynamiczne-btn" href="fizykoterapia.html#prady-diadynamiczne">Prądy diadynamiczne</a></li>
                                                <li><a id="prady-traberta-btn" href="fizykoterapia.html#prady-traberta">Prądy Träberta</a></li>
                                                <li><a id="prady-faradyczne-btn" href="fizykoterapia.html#prady-faradyczne">Prądy Faradyczne</a></li>
                                                <li><a id="jonoforeza-btn" href="fizykoterapia.html#jonoforeza">Jonoforeza</a></li>
                                                <li><a id="tonoliza-btn" href="fizykoterapia.html#tonoliza">Tonoliza</a></li>
                                                <li><a id="tens-btn" href="fizykoterapia.html#tens">Tens</a></li>
                                                <li><a id="galwanizacja-btn" href="fizykoterapia.html#galwanizacja">Galwanizacja</a></li>
                                                <li><a id="elektrostymulacja-btn" href="fizykoterapia.html#elektrostymulacja">Elektrostymulacja</a></li>
                                                <li><a id="prady-kotza-btn" href="fizykoterapia.html#prady-kotza">Prądy Kotz'a</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="kinezyterapia.html">Kinezyterapia</a>
                                </li>
                                <li>
                                    <a href="masaz.html">Masaż</a>
                                </li>
                                <li>
                                    <a href="cennik.html">Cennik</a>
                                </li>
                                <li>
                                    <a href="pierwsza-wizyta.html">Pierwsza wizyta</a>
                                </li>
                                <li>
                                    <a href="kontakt.html">Kontakt</a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                    <!-- Main Menu End-->

                </div>
                <!--Nav Outer End-->

            </div>
        </div>
    </div>

</header>

<script>
    var path = window.location.pathname;
    path = path.substr(1, path.length - 1);
    console.log(path);

    $(".main-menu a").each(function () {
        var href = $(this).attr('href');
        if (path === href) {
            $(this).closest('li').addClass('current');
            $(this).closest('li').addClass('current-collapsed');
        }
    });

    if ($('.main-header li.dropdown ul').length) {
        $('.main-header li.dropdown').append('<div class="dropdown-btn"><span class="fa fa-angle-down"></span></div>');

        $('.main-header li.dropdown .dropdown-btn').on('click', function () {
            $(this).prev('ul').slideToggle(500);
        });

        // //Disable dropdown parent link
        // $('.main-header .navigation li.dropdown > a,.hidden-bar .side-menu li.dropdown > a').on('click', function(e) {
        //     e.preventDefault();
        // });
    }


    $(document).ready(function () {
        var target = $(location).attr("hash");
        var offset = ($(this).attr('data-offset') ? $(this).attr('data-offset') : 260);
        $('body,html').animate({
            scrollTop: $(target).offset().top - offset
        }, 700);
    });


    $("#grzegorz-stawarz-btn").click(function () {
        $([document.documentElement, document.body]).animate({
            scrollTop: $("#grzegorz-stawarz").offset().top - 140
        }, 700);
    });

    $("#anna-rzeszotko-btn").click(function () {
        $([document.documentElement, document.body]).animate({
            scrollTop: $("#anna-rzeszotko").offset().top - 140
        }, 700);
    });

    $("#teresa-stawarz-btn").click(function () {
        $([document.documentElement, document.body]).animate({
            scrollTop: $("#teresa-stawarz").offset().top - 140
        }, 700);
    });


    $("#laseroterapia-btn").click(function () {
        $([document.documentElement, document.body]).animate({
            scrollTop: $("#laseroterapia").offset().top - 140
        }, 700);
    });

    $("#magnetoterapia-btn").click(function () {
        $([document.documentElement, document.body]).animate({
            scrollTop: $("#magnetoterapia").offset().top - 140
        }, 700);
    });

    $("#ultradzwieki-btn").click(function () {
        $([document.documentElement, document.body]).animate({
            scrollTop: $("#ultradzwieki").offset().top - 140
        }, 700);
    });

    $("#prady-interferencyjne-btn").click(function () {
        $([document.documentElement, document.body]).animate({
            scrollTop: $("#prady-interferencyjne").offset().top - 140
        }, 700);
    });

    $("#prady-diadynamiczne-btn").click(function () {
        $([document.documentElement, document.body]).animate({
            scrollTop: $("#prady-diadynamiczne").offset().top - 140
        }, 700);
    });

    $("#prady-traberta-btn").click(function () {
        $([document.documentElement, document.body]).animate({
            scrollTop: $("#prady-traberta").offset().top - 140
        }, 700);
    });

    $("#prady-faradyczne-btn").click(function () {
        $([document.documentElement, document.body]).animate({
            scrollTop: $("#prady-faradyczne").offset().top - 140
        }, 700);
    });

    $("#jonoforeza-btn").click(function () {
        $([document.documentElement, document.body]).animate({
            scrollTop: $("#jonoforeza").offset().top - 140
        }, 700);
    });

    $("#tonoliza-btn").click(function () {
        $([document.documentElement, document.body]).animate({
            scrollTop: $("#tonoliza").offset().top - 140
        }, 700);
    });

    $("#tens-btn").click(function () {
        $([document.documentElement, document.body]).animate({
            scrollTop: $("#tens").offset().top - 140
        }, 700);
    });

    $("#galwanizacja-btn").click(function () {
        $([document.documentElement, document.body]).animate({
            scrollTop: $("#galwanizacja").offset().top - 140
        }, 700);
    });

    $("#elektrostymulacja-btn").click(function () {
        $([document.documentElement, document.body]).animate({
            scrollTop: $("#elektrostymulacja").offset().top - 140
        }, 700);
    });

    $("#prady-kotza-btn").click(function () {
        $([document.documentElement, document.body]).animate({
            scrollTop: $("#prady-kotza").offset().top - 140
        }, 700);
    });

    $("#elektroterapia-btn").click(function () {
        $([document.documentElement, document.body]).animate({
            scrollTop: $("#elektroterapia").offset().top - 140
        }, 700);
    });

</script>